<form [formGroup]="introForm" (ngSubmit)="onSubmit(gameModes.High)">
  <input
    style="width: 100%"
    class="form-control"
    type="text"
    placeholder="user name"
    formControlName="name"
  />
  <input
    style="width: 100%"
    type="text"
    class="form-control"
    placeholder="token"
    formControlName="token"
    (blur)="onInputBlur()"
  />
  <input
    style="width: 100%"
    type="email"
    class="form-control"
    placeholder="email"
    formControlName="mail"
  />
  <div class="row flex-center">
    <button
      type="button"
      [disabled]="introForm.invalid"
      (click)="onSubmit(gameModes.High)"
    >
      Start game on High Contrast
    </button>
    <button
      type="button"
      [disabled]="introForm.invalid"
      (click)="onSubmit(gameModes.Normal)"
    >
      Start game on Normal Mode
    </button>
  </div>

  <div
    class="alert alert-warning"
    style="width: 100%"
    *ngIf="
      introForm.controls['name'].invalid && introForm.controls['name'].dirty
    "
  >
    Nazwa użytkownika musi zawierać minimalnie 5 znaków.
  </div>
  <div
    class="alert alert-warning"
    style="width: 100%"
    *ngIf="
      introForm.controls['token'].invalid && introForm.controls['token'].dirty
    "
  >
    Wprowadź 5-cyfrowy token.
  </div>
  <div
    class="alert alert-warning"
    style="width: 100%"
    *ngIf="
      introForm.controls['mail'].invalid && introForm.controls['mail'].dirty
    "
  >
    Wprowadź poprawny adres email.
  </div>
</form>
